<div class="catalogo">
<section class="catalogo-drinks">
  <header class="header">

    <h1>Catálogo de Drinks</h1>
  </header>
  <div class="catalogo-conteudo">
      <div class="grid-container">
          <!-- Cada drink é um botão -->
          <button class="drink-item">
            <img src="../../assets/Negroni.png" alt="">
              <div class="drink-info">
                  <h3 class="drink-nome">Negronii</h3>
                  <p class="drink-descricao">Um clássico coquetel italiano, feito com gin, vermute rosso e Campari, decorado com laranja.</p>
                  <p class="drink-preco">R$ 29,90</p>
              </div>
          </button>

          <button class="drink-item">
            <img src="../../assets/Old fashioned.png" alt="">
              <div class="drink-info">
                  <h3 class="drink-nome">Old Fashioned</h3>
                  <p class="drink-descricao">Um clássico coquetel italiano, feito com gin, vermute rosso e Campari, decorado com laranja.</p>
                  <p class="drink-preco">R$ 29,90</p>
              </div>
          </button>

          <!-- Repetição dos botões -->
          <button class="drink-item">
            <img src="../../assets/Mojito.png" alt="">
              <div class="drink-info">
                  <h3 class="drink-nome">Mojito</h3>
                  <p class="drink-descricao">Um clássico coquetel italiano, feito com gin, vermute rosso e Campari, decorado com laranja.</p>
                  <p class="drink-preco">R$ 23,90</p>
              </div>
          </button>

          <button class="drink-item">
            <img src="../../assets/manhattan.png" alt="">
              <div class="drink-info">
                  <h3 class="drink-nome">Manhattan</h3>
                  <p class="drink-descricao">Um clássico coquetel italiano, feito com gin, vermute rosso e Campari, decorado com laranja.</p>
                  <p class="drink-preco">R$ 29,90</p>
              </div>
          </button>

          <button class="drink-item">

              <div class="drink-info">
                  <h3 class="drink-nome">Negroni</h3>
                  <p class="drink-descricao">Um clássico coquetel italiano, feito com gin, vermute rosso e Campari, decorado com laranja.</p>
                  <p class="drink-preco">R$ 29,90</p>
              </div>
          </button>

          <button class="drink-item">

              <div class="drink-info">
                  <h3 class="drink-nome">Negroni</h3>
                  <p class="drink-descricao">Um clássico coquetel italiano, feito com gin, vermute rosso e Campari, decorado com laranja.</p>
                  <p class="drink-preco">R$ 29,90</p>
              </div>
          </button>
      </div>
  </div>
  <button class="drink__montar__botao">Monte seu drink</button>
</section>
</div>
