      <header class="cabecalho">
        <img src="../../assets/logo.png" alt="Logo">
        <div class="header-buttons">
          <a href="/" class="header-button">Home</a>
          <p>|</p>
          <a href="/monte-seu-drink" class="pi pi-angle-down"class="header-button">Monte seu drink</a>
          <p>|</p>
          <a href="" class="header-button">Carrinho</a>
        </div>
      </header>
      <div class="catalogo-conteudo">
        <div class="grid-container">
            <!-- Cada drink é um botão -->
            <button class="drink-item">
              <img src="../../assets/Negroni.png" alt="">
                <div class="drink-info">
                    <h3 class="drink-nome">Negroni</h3>
                    <p class="drink-descricao">Um clássico coquetel italiano, feito com gin, vermute rosso e Campari, decorado com laranja.</p>
                    <p class="drink-preco">R$ 29,90</p>
                </div>
            </button>

            <button class="drink-item">
              <img src="../../assets/Old fashioned.png" alt="">
                <div class="drink-info">
                    <h3 class="drink-nome">Old Fashioned</h3>
                    <p class="drink-descricao">Um clássico coquetel italiano, feito com gin, vermute rosso e Campari, decorado com laranja.</p>
                    <p class="drink-preco">R$ 22,90</p>
                </div>
            </button>
          <!-- Cada drink é um botão -->
          <button class="drink-item">
            <img src="../../assets/Negroni.png" alt="">
            <div class="drink-info">
              <h3 class="drink-nome">Negroni</h3>
              <p class="drink-descricao">Um clássico coquetel italiano, feito com gin, vermute rosso e Campari, decorado com laranja.</p>
              <p class="drink-preco">R$ 29,90</p>
              <!-- Botões de Comprar e Adicionar ao Carrinho -->
              <div class="drink-actions">
                <button class="comprar-botao">Comprar</button>
                <button class="carrinho-botao">
                  <span class="pi pi-cart-plus" style="color: white;"></span>
                </button>
              </div>
            </div>
          </button>

            <!-- Repetição dos botões -->
            <button class="drink-item">
              <img src="../../assets/Mojito.png" alt="">
                <div class="drink-info">
                    <h3 class="drink-nome">Mojito</h3>
                    <p class="drink-descricao">Um clássico coquetel italiano, feito com gin, vermute rosso e Campari, decorado com laranja.</p>
                    <p class="drink-preco">R$ 29,90</p>
                </div>
            </button>
          <button class="drink-item">
            <img src="../../assets/Old fashioned.png" alt="">
            <div class="drink-info">
              <h3 class="drink-nome">Old Fashioned</h3>
              <p class="drink-descricao">Um clássico coquetel italiano, feito com gin, vermute rosso e Campari, decorado com laranja.</p>
              <p class="drink-preco">R$ 22,90</p>
              <div class="drink-actions">
                <button class="comprar-botao">Comprar</button>
                <button class="carrinho-botao">
                  <span class="pi pi-cart-plus" style="color: white;"></span>
                </button>
              </div>
            </div>
          </button>

            <button class="drink-item">
              <img src="../../assets/manhattan.png" alt="">
                <div class="drink-info">
                    <h3 class="drink-nome">Manhattan</h3>
                    <p class="drink-descricao">Um clássico coquetel italiano, feito com gin, vermute rosso e Campari, decorado com laranja.</p>
                    <p class="drink-preco">R$ 29,90</p>
                </div>
            </button>
          <!-- Repetição dos botões -->
          <button class="drink-item">
            <img src="../../assets/Mojito.png" alt="">
            <div class="drink-info">
              <h3 class="drink-nome">Mojito</h3>
              <p class="drink-descricao">Um clássico coquetel italiano, feito com gin, vermute rosso e Campari, decorado com laranja.</p>
              <p class="drink-preco">R$ 29,90</p>
              <div class="drink-actions">
                <button class="comprar-botao">Comprar</button>
                <button class="carrinho-botao">
                  <span class="pi pi-cart-plus" style="color: white;"></span>
                </button>
              </div>
            </div>
          </button>

            <button class="drink-item">
          <button class="drink-item">
            <img src="../../assets/manhattan.png" alt="">
            <div class="drink-info">
              <h3 class="drink-nome">Manhattan</h3>
              <p class="drink-descricao">Um clássico coquetel italiano, feito com gin, vermute rosso e Campari, decorado com laranja.</p>
              <p class="drink-preco">R$ 29,90</p>
              <div class="drink-actions">
                <button class="comprar-botao">Comprar</button>
                <button class="carrinho-botao">
                  <span class="pi pi-cart-plus" style="color: white;"></span>
                </button>
              </div>
            </div>
          </button>

                <div class="drink-info">
                    <h3 class="drink-nome">Negroni</h3>
                    <p class="drink-descricao">Um clássico coquetel italiano, feito com gin, vermute rosso e Campari, decorado com laranja.</p>
                    <p class="drink-preco">R$ 29,90</p>
                </div>
            </button>
          <button class="drink-item">
            <img src="../../assets/manhattan.png" alt="">
            <div class="drink-info">
              <h3 class="drink-nome">Manhattan</h3>
              <p class="drink-descricao">Um clássico coquetel italiano, feito com gin, vermute rosso e Campari, decorado com laranja.</p>
              <p class="drink-preco">R$ 29,90</p>
              <div class="drink-actions">
                <button class="comprar-botao">Comprar</button>
                <button class="carrinho-botao">
                  <span class="pi pi-cart-plus" style="color: white;"></span>
                </button>
              </div>
            </div>
          </button>

            <button class="drink-item">

                <div class="drink-info">
                    <h3 class="drink-nome">Negroni</h3>
                    <p class="drink-descricao">Um clássico coquetel italiano, feito com gin, vermute rosso e Campari, decorado com laranja.</p>
                    <p class="drink-preco">R$ 29,90</p>
                </div>
            </button>
          <button class="drink-item">
            <img src="../../assets/manhattan.png" alt="">
            <div class="drink-info">
              <h3 class="drink-nome">Manhattan</h3>
              <p class="drink-descricao">Um clássico coquetel italiano, feito com gin, vermute rosso e Campari, decorado com laranja.</p>
              <p class="drink-preco">R$ 29,90</p>
              <div class="drink-actions">
                <button class="comprar-botao">Comprar</button>
                <button class="carrinho-botao">
                  <span class="pi pi-cart-plus" style="color: white;"></span>
                </button>
              </div>
            </div>
          </button>
        </div>
    </div>
    <button class="drink__montar__botao">Monte seu drink</button>
