* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
}


.header {
  width: 100%;
  background-color: #424141;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0; /* Para aumentar o espaço interno */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed; /* Mantém o cabeçalho fixo no topo */
  top: 0;
  left: 0;
  z-index: 1000; /* Para garantir que o cabeçalho fique acima do conteúdo */
}

.header h1 {
  font-size: 2.5rem;
  color: #ffff;
}

.catalogo-drinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 30px;
  width: 100%;
  margin: 0 auto;
  margin-top: 120px; /* Altura do cabeçalho para evitar sobreposição */
  height: calc(100vh - 120px); /* 100vh menos a altura do cabeçalho */
  overflow-y: auto; /* Permite rolagem caso o conteúdo seja maior que a área */
}

.catalogo-titulo h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.catalogo-conteudo {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}

.drink-item {
  display: flex;
  align-items: center;
  background-color: #444;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s;
}

.drink-item:hover {
  background-color: #555;
}

.drink-item img {
  width: 120px;
  height: auto;
  border-radius: 10px;
  margin-right: 15px;
}

.drink-info {
  text-align: left;
}

.drink-nome {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.drink-descricao {
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #ccc;
}

.drink-preco {
  font-size: 1rem;
  color: #ffcc00;
}

.drink__montar__botao {
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  height: 80px;
  font-size: 2rem;
  color: #BF281B;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  margin-top: 50px;
}

.drink__montar__botao:hover {
  background-color: #e2d3b2;
}
