 <!-- Cabeçalho -->
 <header class="cabecalho">
  <img src="assets/logo.png" alt="Logo">
  <div class="header-buttons">
    <a href="/" class="header-button">Home</a>
    <p>|</p>
    <a href="/monte-seu-drink" class="header-button">Monte seu drink</a>
    <p>|</p>
    <a (click)="Carrinho()" class="header-button">Carrinho</a>
  </div>
</header>

<!-- Catálogo de Drinks -->
<div class="catalogo-drinks">
  <div class="catalogo-conteudo">
    <div class="grid-container">
      <!-- Drink Negroni -->
      <div *ngFor="let drink of drinks" class="drink-item">
        <img [src]="drink.imagem" [alt]="drink.nome">
        <div class="drink-info">
          <h3 class="drink-nome">{{ drink.nome }}</h3>
          <p class="drink-descricao">{{ drink.descricao }}</p>
          <p class="drink-preco">{{ drink.preco }}</p>
          <div class="drink-actions">
            <button class="comprar-botao" (click)="adicionarAoCarrinho(drink)">Comprar</button>
          </div>
        </div>
      </div>

      <!-- Drink Old Fashioned -->
      <button class="drink-item" >
        <img src="../../assets/Old fashioned.png" alt="Drink Old Fashioned">
        <div class="drink-info">
          <h3 class="drink-nome">Old Fashioned</h3>
          <p class="drink-descricao">Whisky, açúcar, bitter e uma pitada de água. Um clássico robusto e elegante.</p>
          <p class="drink-preco">R$ 22,90</p>
          <div class="drink-actions">
            <button class="comprar-botao" >Comprar</button>
            <button class="carrinho-botao">
              <span class="pi pi-cart-plus" style="color: white;"></span>
            </button>
          </div>
        </div>
      </button>

      <!-- Drink Mojito -->
      <button class="drink-item" >
        <img src="assets/Mojito.png" alt="Drink Mojito">
        <div class="drink-info">
          <h3 class="drink-nome">Mojito</h3>
          <p class="drink-descricao">Refrescante combinação de rum, hortelã, limão, açúcar e água com gás.</p>
          <p class="drink-preco">R$ 29,90</p>
          <div class="drink-actions">
            <button class="comprar-botao" >Comprar</button>
            <button class="carrinho-botao">
              <span class="pi pi-cart-plus" style="color: white;"></span>
            </button>
          </div>
        </div>
      </button>

      <!-- Drink Manhattan -->
      <button class="drink-item" >
        <img src="../../assets/manhattan.png" alt="Drink Manhattan">
        <div class="drink-info">
          <h3 class="drink-nome">Manhattan</h3>
          <p class="drink-descricao">Whisky e vermute doce com um toque de Angostura. Elegância em cada gole.</p>
          <p class="drink-preco">R$ 29,90</p>
          <div class="drink-actions">
            <button class="comprar-botao">Comprar</button>
            <button class="carrinho-botao">
              <span class="pi pi-cart-plus" style="color: white;"></span>
            </button>
          </div>
        </div>
      </button>

      <button class="drink-item" >
        <img src="../../assets/manhattan.png" alt="Drink Manhattan">
        <div class="drink-info">
          <h3 class="drink-nome">Manhattan</h3>
          <p class="drink-descricao">Whisky e vermute doce com um toque de Angostura. Elegância em cada gole.</p>
          <p class="drink-preco">R$ 29,90</p>
          <div class="drink-actions">
            <button class="comprar-botao">Comprar</button>
            <button class="carrinho-botao">
              <span class="pi pi-cart-plus" style="color: white;"></span>
            </button>
          </div>
        </div>
      </button>

      <button class="drink-item" >
        <img src="../../assets/manhattan.png" alt="Drink Manhattan">
        <div class="drink-info">
          <h3 class="drink-nome">Manhattan</h3>
          <p class="drink-descricao">Whisky e vermute doce com um toque de Angostura. Elegância em cada gole.</p>
          <p class="drink-preco">R$ 29,90</p>
          <div class="drink-actions">
            <button class="comprar-botao">Comprar</button>
            <button class="carrinho-botao">
              <span class="pi pi-cart-plus" style="color: white;"></span>
            </button>
          </div>
        </div>
      </button>
    </div>
  </div>
</div>
