@import "primeicons/primeicons.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  background-color: #424141;
}



.cabecalho {
  width: 100%;
  height: 25vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 25px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}


.cabecalho img {
  width: 150px;
  margin-bottom: 10px;
}

.header-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  position: relative;
  top: -12px;
}

.header-buttons p {
  margin: 0;
  text-align: center;
}

.header-button {
  text-decoration: none;
  color: #fff;
  margin-top: 0;
  font-size: 1.3rem;
}

.header-button:hover {
  color: #ffcc00;
}

.catalogo-drinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 30px;
  width: 100%;
  margin-top: 180px;
  height: calc(100vh - 180px);
  overflow-y: auto;
}

.catalogo-conteudo {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}

.drink-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dfdfdf;
  border: none;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s;
  text-align: center;
}

.drink-item img {
  width: 120px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.drink-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drink-nome {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.drink-descricao {
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #424141;
}

.drink-preco {
  font-size: 1.5rem;
  color: #ffcc00;
}

/* Estilos dos botões "Comprar" e "Adicionar ao Carrinho" */
.drink-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.comprar-botao, .carrinho-botao {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.comprar-botao {
  background-color: black;
  border: none;
  color: #ffff;
  padding: 0 20px;
  width: 180px;
  font-size: 1.3rem;
}

.comprar-botao:hover {
  background-color: #424141;
}

.carrinho-botao:hover {
  background-color: #424141;
}

.carrinho-botao {
  background-color: black;
  border: none;
  padding: 0 10px;
  width: 60px;
  font-size: 30px;
  height: 50px;
}

.carrinho-botao img {
  max-height: 100%;
  object-fit: contain;
}

.drink__montar__botao {
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  height: 80px;
  font-size: 2rem;
  color: #BF281B;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 22vh;
}




/* Responsividade */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .comprar-botao, .carrinho-botao {
    width: 100%;
    padding: 10px;
  }

  .carrinho-botao {
    width: 100%;
  }
}
